body{
    background-color: rgb(191, 135, 247);
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
}

nav{
    background-color: rgb(118, 1, 141);
    padding: 10px;
}
nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;

}
nav a:hover{
    text-decoration: underline;
}

h1{
    color: #0e0542;
}
p 
h2{
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:  rgb(118, 1, 141);
    color: white;
    text-align: center;
    padding: 10px;
}